# SPDX-FileCopyrightText: 2025-2026 Sangoma US Inc.
# SPDX-License-Identifier: GPL-2.0-only
---
# file: sngfd_factory_12/tasks/extract.yml

- name: Get temp selections file in place.
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ dtmp.path }}"
  loop:
    - selections

- name: Get list of desired packages to extract from ISO.
  when: dir_deb_files != "" and bool_refresh_packages
  ansible.builtin.shell:
    cmd: grep -v -e deinstall$ {{ dtmp.path }}/selections | cut -f1 | sed 's/$/*.deb/'
  register: extract_packages

- name: Find packages to extract from ISO.
  when: dir_deb_files != "" and bool_refresh_packages
  ansible.builtin.command:
    argv:
      - /usr/bin/xorriso
      - -osirrox
      -   "on"
      - -indev
      -   "{{ fn_iso_input }}"
      - -find
      -   "/pool/main"
      - -type
      -   "f"
      - -name
      -   "{{ item }}"
  loop: "{{ extract_packages.stdout | split('\n') }}"
  register: extract_packages_iso

- name: Extracting packages from input ISO.
  when: dir_deb_files != "" and bool_refresh_packages
  ignore_errors: true
  ansible.builtin.command:
    argv:
      - /usr/bin/xorriso
      - -osirrox
      -   "on"
      - -indev
      -   "{{ fn_iso_input }}"
      - -extract
      -   "{{ item.stdout | regex_replace(\"'\", '') }}"
      -   "{{ dir_deb_files }}/{{ item.stdout | regex_replace(\"'\", '') | basename }}"
  loop: "{{ extract_packages_iso.results }}"

- name: Extracting files from input ISO.
  ansible.builtin.command:
    argv:
      - /usr/bin/xorriso
      - -osirrox
      -   "on"
      - -indev
      -   "{{ fn_iso_input }}"
      - -extract
      -   "{{ item.in }}"
      -   "{{ item.out }}"
  loop:
    - { in: "md5sum.txt",                     out: "{{ dextract.path }}/md5sum.txt" }
    - { in: "boot/grub/theme/1",              out: "{{ dextract.path }}/grubtheme1" }
    - { in: ".disk/info",                     out: "{{ dextract.path }}/diskinfo" }

- name: Extracting kernel files from input ISO only if not using DAHDI ISO.
  when: fn_dahdi_iso_input == ""
  ansible.builtin.command:
    argv:
      - /usr/bin/xorriso
      - -osirrox
      -   "on"
      - -indev
      -   "{{ fn_iso_input }}"
      - -extract
      -   "{{ item.in }}"
      -   "{{ item.out }}"
  loop:
    - { in: "pool/main/l/linux",              out: "{{ dextract.path }}/linux" }
    - { in: "pool/main/l/linux-signed-amd64", out: "{{ dextract.path }}/linux-signed-amd64" }

- name: Extracting files from DAHDI-friendly ISO if any.
  when: fn_dahdi_iso_input != ""
  ansible.builtin.command:
    argv:
      - /usr/bin/xorriso
      - -osirrox
      -   "on"
      - -indev
      -   "{{ fn_dahdi_iso_input }}"
      - -extract
      -   "{{ item.in }}"
      -   "{{ item.out }}"
  loop:
    - { in: "pool/main/l/linux",              out: "{{ dextract.path }}/linux" }
    - { in: "pool/main/l/linux-signed-amd64", out: "{{ dextract.path }}/linux-signed-amd64" }

- name: Extracting files from mini ISO if any.
  when: fn_mini_iso_input != ""
  ansible.builtin.command:
    argv:
      - /usr/bin/xorriso
      - -osirrox
      -   "on"
      - -indev
      -   "{{ fn_mini_iso_input }}"
      - -extract
      -   "{{ item.in }}"
      -   "{{ item.out }}"
  loop:
    - { in: "initrd.gz",                     out: "{{ dextractmini.path }}/initrd.gz" }
    - { in: "linux",                         out: "{{ dextractmini.path }}/vmlinuz" }

- name: Make some of the extracted files writable.
  ansible.builtin.file:
    path: "{{ item.out }}"
    state: touch
    mode: "u+w"
  loop:
    - { in: "md5sum.txt",                     out: "{{ dextract.path }}/md5sum.txt" }
    - { in: "boot/grub/theme/1",              out: "{{ dextract.path }}/grubtheme1" }
    - { in: ".disk/info",                     out: "{{ dextract.path }}/diskinfo" }

- name: Adjust the disk info.
  ansible.builtin.lineinfile:
    path: "{{ dextract.path }}/diskinfo"
    regexp: '^Debian.*'
    line: "{{ str_our_full_name }} installer {{ str_script_version }}"

- name: Adjust GRUB menu to make mention of FreePBX in the title 1.
  ansible.builtin.lineinfile:
    path: "{{ dextract.path }}/grubtheme1"
    regexp: '^title-text:.*'
    line: 'title-text: "{{ str_our_full_name }}"'

- name: Adjust GRUB menu to make mention of FreePBX in the title 2.
  ansible.builtin.lineinfile:
    path: "{{ dextract.path }}/grubtheme1"
    regexp: '^(.*)Debian GNU/Linux(.*)$'
    line: '\1{{ str_our_full_name }}\2'
    backrefs: true

- name: Grab extracted kernel version from ISO (if applicable).
  when: str_locked_kernel == "iso"
  ansible.builtin.shell:
    cmd: ls "{{ dextract.path }}/linux-signed-amd64" | grep -v "linux-image-amd64" | grep -m 1 "linux-image" | cut -f1 -d'_' | sed 's/linux-image-//'
  register: locked_kernel

- name: Loose lock of the kernel (if applicable).
  when: str_locked_kernel == "iso"
  ansible.builtin.set_fact:
    str_locked_kernel: "{{ locked_kernel.stdout }}"

- name: Kernel we are locking to.
  ansible.builtin.debug:
    msg: "kernel {{ str_locked_kernel }}"
